.header{
    display: flex;
    color: #FFFFFF;
    margin: 37px 4vw;
    justify-content: space-between;
}

.header > a{
    display: flex;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.header > a:hover{
    transform: scale(1.05);
}

.header-nav{
    margin-top: 2px;
    display: flex;
    width: 50vw;
    justify-content: space-between;
    align-items: center;
}

.header-nav-item{
    display: flex;
    position: relative;
    font-style: normal;
    font-weight: 300;
    height: 41px;
    justify-content: center;
    align-items: center;
    margin-left: 3.5vw;
    transition: 0.2s ease-in-out;
}

.header-nav-item:not(.header-nav-item-button):hover{
    transform: scale(1.10);
}

.header-nav-item:not(.header-nav-item-button)::after{
    content: "";
    width: 0;
    height: 4px;
    background-color: #FA9021;
    position: absolute;
    bottom: -5px;
    left: -20%;
    border-radius: 10%;
    transition: .4s ease-in-out;
}
.header-nav-item:not(.header-nav-item-button):hover::after{
    width: 140%;
}

.header-nav-item-button{
    background-color: #FA9021;
    margin: 0;
    width: 9.5vw;
    height: 41px;
    border-radius: 6px;
    font-size: 13px;
    transition: 0.2s ease-in-out;
}

.header-nav-item-button:hover{
    transform: scale(1.05);
    background: #ff8400;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.255);
    font-size: 14px;
}