body{
    background: linear-gradient(#3C2A9E, #3B2A9F);
    font-family: 'Poppins';
    color: white;
    padding: 0;
    margin: 0;
}

a{
    color: white;
    text-decoration: none;
}

/* Sections */

.section-title{
    font-weight: 700;
}

/* Introduction */

.introduction-container{
    margin: 115px 10vw;
    width: 37vw;
}

.introduction-title{
    font-size: 50px;
    margin: 20px 0 32px;
}

.introduction-credit{
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 21px;
    line-height: 155.2%;
    color: #E87D0E;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: #000;
    margin-bottom: 0;
}

.introduction-description{
    width: 36vw;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    margin: 0 0 70px;
}

.introduction-more-details{
    background: linear-gradient(#FA8305, #FB9E3C);
    margin: 0;
    padding: 14px 31px;
    border-radius: 40px;
    transition: .2s ease-in-out;
}

.introduction-more-details:hover{
    font-size: 17px;
    background: linear-gradient(#ff9524, #ffb464);
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.255);
}

.introduction-images{
    position: absolute;
    width: 465px;
    height: 761px;
    left: 54vw;
    top: 0;
    z-index: -1;
    background-image: url(../img/joystick.svg);
}

.introduction-unreal{
    position: absolute;
    top: 210px;
    left: 400px;
}

.introduction-cryengine{
    position: absolute;
    top: 205px;
    left: 60px;
}
.introduction-unity{
    position: absolute;
    top: 410px;
    left: -125px;
}


/* Trending Games */

.trending-games{
    margin: 200px 9vw 0;
}

.trending-games-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}
.trending-games-title{
    font-size: 30px;
    font-weight: 550;
    font-family: 'Rubik';
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trending-games-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .11);
    width: 139px;
    height: 57px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Rubik';
    position: relative;
    overflow: hidden;
}

.trending-games-btn::before{
    content: "";
    width: 139px;
    height: 57px;
    border-radius: 10px;
    position: absolute;
    left: -100px;
    top: 100%;
    background: linear-gradient(#ff9524, #ffb464);
    z-index: -1;
}

.trending-games-btn:hover:before{
    animation: desloca .5s;
    left: 0;
    top: 0;
}

@keyframes desloca {
    0%{
        left: -100px;
        top: 100%;
    }
    50%{
        left: 15%;
        top: -25%;
    }
    100%{
        left: 0;
        top: 0;
    }
}


/* Trending Games Cards*/

.trending-games-list{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.trending-games-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 251px;
    gap: 0;
    transition: .2s linear;
}

.trending-games-list:hover > :not(:hover){
    opacity: 0.7;
    transform: scale(0.95);
}


.trending-games-item figure{
    margin: 0;
    gap: 0;
} 

.trending-games-item figure img{
    transition: .3s ease-in-out;
    border-radius: 20px;
} 

.trending-games-item figure img:hover{
    box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
} 

.trending-games-item-description{
    margin: 0;
    display: flex;
    font-size: 22px;
    width: 170px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Rubik';
}


/* Best game */

.best-game{
    margin: 120px 9vw 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.best-game-title{
    font-size: 35px;
    font-weight: 500;
    width: 57vw;
    text-align: center;
    line-height: 187.5%;
}

.best-game-about-container{
    margin: 0 10vw;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
}
.best-game-about-top {
    width: 545px;
}

.best-game-about-title{
    font-size: 30px;
    font-weight: 500;
}
.best-game-about-description{
    line-height: 187.5%;
    font-weight: 300;
}

.best-game-dots{
    position: absolute;
    width: 196px;
    height: 154px;
    left: 972px;
    top: 1867px;
    z-index: -1;
    background-image: url(../img/orange-dots.svg);
}

.best-game-about-container figure{
    margin: 30px 0 10px;
    margin-top: 30px;
}

.best-game-about-container figure img{
    width: 80vw;
    transition: .2s ease-in-out;
}

.best-game-about-container figure img:hover{
    transform: scale(1.02);
}

.about-us{
    background-image: url('../img/background.svg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 1000px;
    padding: 0 9vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-title{
    font-weight: 700;
    font-size: 30px;
    padding: 0;
    margin: 100px 0 20px;
    line-height: 187.5%;
    text-align: center;
    width: 55vw;
}

.about-us-description{
    text-align: center;
    width: 57vw;
    font-size: 16px;
    line-height: 187.5%;
}

.about-us-skills-list{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-bottom: 80px;
}

.about-us-skills-list:hover > :not(:hover){
    opacity: 0.8;
    transform: scale(0.97);
}

.about-us-skills-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 164px;
    gap: 10px;
    transition: .2s;
}

.about-us-skills-item-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 65px;
    height: 70.69px;
    border-radius: 50%;
    transition: .2s;
}

.about-us-skills-item-icon img{
    transition: .2s;
}

.about-us-skills-item-icon:hover img{
    transform: scale(1.1);
}

.about-us-skills-item > p{
    font-size: 15px;
    font-weight: 500;
}

.about-us-skills-item > a > svg{
    transition: .2s;
}

.about-us-skills-item > a > svg:hover{
    fill: white;
    transform: scale(1.1);
}


/* Portfolio */

.portfolio{
    display: flex;
    flex-direction: column;
    margin: 155px 9vw 30px;
    align-items: center;
}

.portfolio-title{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.portfolio-description{
    width: 497px;
    height: 57px;
    font-weight: 300;
    font-size: 14px;
    line-height: 187.5%;
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-images-list{
    max-width: 1200px;
    width: 84vw;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin-bottom: 65px;
}


.portfolio-images-list > figure{
    margin: 0.7vw;
    transition: .2s linear;
}
.portfolio-images-list:hover > :not(:hover){
    opacity: 0.7;
    transform: scale(0.99);
}

.portfolio-images-list > figure > img{
    border-radius: 20px;
    transition: .2s ease-in-out;
} 
.portfolio-images-list > figure > img:hover{
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
} 

.portfolio-see-all{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .11);
    width: 139px;
    height: 57px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Rubik';
    margin: 0;
    position: relative;
    overflow: hidden;
}

.portfolio-see-all::before{
    content: "";
    width: 139px;
    height: 57px;
    border-radius: 10px;
    position: absolute;
    left: -100px;
    top: 100%;
    background: linear-gradient(#ff9524, #ffb464);
    z-index: -1;
}

.portfolio-see-all:hover:before{
    animation: desloca .5s;
    left: 0;
    top: 0;
}