body{
    background: linear-gradient(#271bbf, #383837);
    color: white;
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

/* Header */

.header-nav{
    justify-content: flex-end;
    color: white;
}

.header-nav > a{
    color: white;
}

.header > a > img {
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
}

/* Main */

.introduction-success{
    padding: 0 10vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Footer */

.footer{
    color: white;
}

.footer-container-info{
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}